

#container{
    margin: auto;
    width: 70%;
}
body{
    /* background-image: url("https://64.media.tumblr.com/8f0885312e188964ef4d9063cb290ae6/tumblr_mg6rvhLrE11rp53ndo6_250.gif"); */
    background-color: #4fc5c7;
    cursor: url(../images/sootcursor.png), pointer;
}
h1{
    color: ivory;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    text-align: center;
    padding-bottom: 100px;
}
h2{
    color: ivory;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    text-align: center;
    position: relative;
    top: 200px;
}
#train{
    position: relative;
    top: 320px;
    background: transparent url(../images/train.png);
    height: 200vh;
    background-size: 1000px 200px;
    background-position: 0 0;
    background-repeat: repeat-x;
    animation: animate 15s linear infinite;
    padding: 0;
    /* animation-delay: 2s; */

}
@keyframes animate{
    from{
        background-position: 0 0;
    }
    to{
        background-position: 100% 0;
    }
}
.yufeng{
    position: absolute;
    top: 110px;
    display: inline-block;
}
.yufeng:hover{
    opacity: 70%;
}
.jessica{
    position: absolute;
    left: 40%;
}
.jessica:hover{
    opacity: 70%;
}
.amanda{
    position: absolute;
    left: 900px;
    top: 100px;
}
.amanda:hover{
    opacity: 70%;
}

#back{
    position: absolute;
    left: 20px;
    top: 20px;
    z-index: 1;
}
#back:hover{
    opacity: 70%;
}
